@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,600;1,200&display=swap');

:root {
    --dark: #FFF0F5;
    --darker: #1F2937;
    --darkest: #111827;
    --grey: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #885Cf6;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    padding: 3px;
    text-align: center;
    background-image: url('a.jpg');
    height: 100vh;
    width: 100vw; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 3.8rem;
    font-weight: 600;
    color: #EC4899;
    margin-bottom: 1rem;
}

#task-form {
    display: flex;
}

input, button {
    appearance: none;
    border:none;
    outline: none;
    background: none;
}

#task-input {
    flex: 1 1 0%;
    background-color: var(--darker);
    border: #5c0a52;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
    
}

#task-input::placeholder {
    color: var(--grey);
    
}

#task-submit {
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    border-radius: 10px;
    background-clip: text;
    cursor: pointer;
    transition: 0.4s;
color: #ffff;
    
}

#task-submit:hover {
    opacity: 0.8;
}

#task-submit:active {
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    max-width: 800;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #b337e9;
    margin-bottom: 1rem;
    
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content {
    flex: 1 1 0%;
}

#tasks .task .content .text {
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only){
    color: var(--pink);
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

#tasks .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

#tasks .actions button:hover {
    opacity: 0.8;
}

#tasks .actions button:active {
    opacity: 0.6;
}

#tasks .actions .edit{
    color: rgb(58, 189, 233);
    cursor: pointer;
}

#tasks .actions .delete {
    color: crimson;
}

.p {
    
    width: 99%;
    padding: 8px;
    bottom: 10px;
    margin-left: 5px;
    border-radius: 30px;
    text-align: center;
    color: #fff;
}

.p {
    color: #5c0a52;
}